<h3>Please find details below </h3>
<div>
    Vehicle: <b>{{car.make}} - {{car.model}} ({{car.year}})</b> 
    Vehicle Condition: <b>{{car.condition}}</b>
    Seller: <b>{{car.seller_name}}</b>
    Seller Contact: <b>{{car.seller_mobile}}</b>
    Buyer: <b>{{buyerreq_obj.buyer_name}}</b>
    Buyer Contact: <b>{{buyerreq_obj.buyer_mobile}}</b>
    Sale Price: <b>{{car.currency}}{{car.asking_price}}</b>
    Dodgy Brothers commission (5%): <b>{{car.currency}}{{commission}}</b>
    Net amount transferrable to the seller: <b>{{car.currency}}{{net_amount}}</b>
</div>
