{% extends 'navbar.html' %}

{% block start %}

<head>
  <style>
    .ig {
      width: 18rem;
    }
  </style>
</head>
<div class="container mt-5">
  <div class="row">
    <!-- <form id="list_form" action="{% url 'addcar' %}" method="">{% csrf_token %}
      <button type="submit" class="btn btn-primary">Add Car</button>
    </form> -->

    <form method="get">
      <div style="display: inline-block;">
        {{ filter.form.make }}
      </div>
      <div style="display: inline-block;">
        {{ filter.form.year }}
      </div>
      <button type="submit">Filter</button>
    </form>


    <!-- <form method="get">
          {{ filter.form.as_p }}
          <input type="submit" />
      </form> -->
    {% for obj in filter.qs %}
    {{ obj.name }}
    {% endfor %}

  </div><br>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Sr</th>
        <th scope="col">Make</th>
        <th scope="col">Model</th>
        <th scope="col">Year</th>
        <th scope="col">Condition</th>
        <th scope="col">Asking Price</th>
        <th scope="col">Availability</th>
        <th scope="col">Extra</th>
      </tr>
    </thead>
    {% for temp in car_list %}
    <tbody>
      <tr>
        <th scope="row">{{temp.id}}</th>
        <td>{{temp.make}}</td>
        <td>{{temp.model}}</td>
        <td>{{temp.year}}</td>
        <td>{{temp.condition}}</td>
        <td>{{temp.price}}</td>

        {% if temp.is_sold %}
        {% if user.is_authenticated %}
        <td><button type="button" class="btn btn-primary" disabled>Sold Out</button></td>

        <form id="make-available" action="{% url 'available' cid=temp.uid %}" method="">{% csrf_token %}
          <td><button type="submit" class="btn btn-primary">Make Available</button></td>
        </form>

        {% else %}
        <td><button type="button" class="btn btn-primary" disabled>Sold Out</button></td>
        {% endif %}
        {% else %}
        <form id="buy_form" action="{% url 'buy' cid=temp.uid %}" method="">{% csrf_token %}
          <td><button type="submit" class="btn btn-outline-success">Buy</button></td>
        </form>
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
</div>
<!-- <nav aria-label="...">
  <ul class="pagination">
    {% if cars.has_previous %}
    <li class="page-item">
      <a class="page-link" href="/?page=1" tabindex="-1">First</a>
    </li>

    <li class="page-item">
      <a class="page-link" href="/page={{cars.previous_page_number}}" tabindex="-1">Previous</a>
    </li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>

    {% if cars.has_next %}
      <li class="page-item">
          <a class="page-link" href="/page={{cars.next_page_number}}" >Next</a>
      </li>
    {% endif %}
  </ul>
</nav> -->

{% if page_obj.has_other_pages %}
<ul class="pagination">
  {% if page_obj.has_previous %}
  <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
  {% else %}
  <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
  {% endif %}

  {% for i in page_obj.paginator.page_range %}
  {% if cars.number == i %}
  <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
  {% else %}
  <li class="page-item"><a class="page-link" href="?filter={{filter_by}}&page={{ i }}">{{ i }}</a></li>
  {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
  {% else %}
  <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}


{% endblock start %}

{% block extra_css %}
<style>
  .filter-form {
    display: flex;
    flex-wrap: wrap;
  }

  .filter-form p {
    flex: 1;
    margin-right: 10px;
  }

  .filter-form button {
    flex-shrink: 0;
  }
</style>
{% endblock %}